*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    transition: all 0.2s ease;
    background-color: aqua;
}

.container{
    background-color: #333;
    width: 25rem;
    height: 10rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.light{
    background-color: #000;
    border-radius: 100%;
    position: relative;
    height: 2.5em;
    width: 2.5rem;
    transition: all 0.2s ease;
    margin: 0.5rem;
}

.light.active{
    background-color: var(--light-color);
    box-shadow: 0px 0px 20px 5px var(--light-color);
}

.light.Light1 {
    --light-color:#00FFFC;
}

.light.Light2 {
    --light-color:#FC00FF;
}

.light.Light3 {
    --light-color:#FFFC00;
}

.light.Light4 {
    --light-color:GREEN;
}

.light.Light5 {
    --light-color:ORANGE;
}

.light.Light6 {
    --light-color:PURPLE;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background-color: palevioletred;
}

.container1{
    position:relative;
    height: 50px;
}

.search{
    outline: none;
    background-color: #fff;
    border: 0;
    height: 70px;
    width: 70px;
    padding: 15px;
    font-size: 1rem;
    transition: width 0.5s ease;
    border-radius: 5px;
}

.button{
    background-color: white;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 70px;
    transition: background-color 0.5s ease, transform 0.5s ease;
    outline: none;
    border-radius: 5px;
}

.container1.active .search{
    width: 200px;
}

.container1.active .button{
    transform: translateX(198px);
    background-color: royalblue;
}

.button.active{
    margin-left: 0.5rem;
}

.fa-times{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.fa-times.active{
    opacity: 1;
}

aside{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background-color: rgb(168, 27, 74);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    color: whitesmoke;
    text-decoration: underline;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 420px;
}

.activity{
    background-color: azure;
    box-shadow: 0 0 2px beige;
    margin: 5px;
    height: 35px;
    width: 35px;
    transition: 3s ease;
    overflow: hidden;
    border-radius: 2px;
}

.activity:hover{
    transition-duration: 0s;
    overflow: hidden;
}